{% extends 'base.html.twig' %}

{% block h1 %}Hotel RB | Your profile{% endblock %}

{% block body %}
{{ include('_flashes.html.twig') }}



    <table class="d-flex justify-content-center text-center border rounded  p-5 m-5">
        <tbody>
            <tr >
                <th>Nom</th>
                <td>{{ app.user.firstName|upper }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ app.user.lastName|capitalize }}</td>
            </tr>
            <tr>
                <th>Adresse email</th>
                <td>{{ app.user.email }}</td>
            </tr>
            {% if app.user.roles == ["ROLE_ADMIN","ROLE_USER"] %}
            <tr>
                <th>Role</th>
                <td> ADMIN</td>
    
            </tr>
             {% endif %}
             <td>
                    <a class="btn btn-warning my-3 " href="{{ path('app_user_edit', {'id': app.user.id}) }}">edit profil</a>
                
            </td>
            <td>
         {# <a class="btn btn-warning my-3 " href="{{ path('app_password_edit') }}">edit Password</a> #}
                
            </td>
            <td>
         {# <a class="btn btn-warning my-3 " href="{{ path('app_command_index') }}">My Command</a> #}
                
            </td>
        </tbody>
    </table>
{% endblock %}